@tailwind base;
@tailwind components;
@tailwind utilities;

.alert {
    padding: 15px;
    border-radius: 4px;
    color: white;
    margin-bottom: 20px;
  }
  
  .alert-info {
    background-color: #007bff;
  }
  
  .alert-success {
    background-color: #28a745;
  }
  
  .alert-error {
    background-color: #dc3545;
  }